---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";

interface Props {
  title: string;
  authors: Author[];
  conference?: string;
  notes?: Note[];
  links: Link[];
  doi?: {
    url: string;
    text: string;
  };
}

const { title, authors, conference, notes, links, doi } = Astro.props as Props;
---

<header class="flex flex-col gap-10 items-center mb-6">
  <h1>{title}</h1>
  {conference && <p class="text-center text-2xl font-semibold">{conference}</p>}
  <div class="flex flex-col gap-6 items-center">
    <Authors authors={authors} />
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
    {doi && (
      <p class="text-center text-sm">
        DOI: <a href={doi.url}>{doi.text}</a>
      </p>
    )}
  </div>
</header>
